body {
    margin: 0;
    padding: 0;
    font-family: 'Consola', monospace;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#menu {
    position: absolute;
	  bottom: 10px;
    right: 50px;
    padding: 10px;
}

#welcome {
    background-color: #fff;
    top: 24px;
    max-width: 500px;
}

#welcome h1 {
    margin: 0;
    text-align: center
}

.map-overlay {
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
    border-radius: 3px;
    z-index: 1;
}

.mapboxgl-popup-close-button {
		display: none;
}

.mapboxgl-popup-content {
    font-family: 'Consola', monospace;
    font-size: 16px;
    padding: 0;
		width: 320px;
    max-height: 400px;
    overflow: auto;
}

.mapboxgl-popup-content h3 {
    background: #a01c84;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 600;
    margin-top: 0px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    font-weight: 600;
}

.mapboxgl-popup-content div {
    padding-left: 8px;
    padding-top: 8px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #a01c84;
}
